<DOCTYPE!=  <!DOCTYPE html>
<html>
<head>
    <title>New Community</title>
</head>
<body>
    <div class="page-header">
        <h3>New Community</h3>
    </div>

<% u = User.find_by(:id => session[:user_id]) %>

        <% if u.present? %>

                <form action="/communities/create" class="col-md-4">

                  <div class="form-group">
                    <label class="control-label">Community name:</label>
                    <input name="name" type="text" class="form-control input-md" placeholder="e.g. Big Dogs, Turkeys, Evanston etc...">
                  </div>

                  <div class="form-group">
                    <label>Community type:</label>
                    <input name="variety" type="text" class="form-control input-md" placeholder="e.g. School Sec, Local, Social etc...">
                  </div>

                  <button type="submit" class="btn btn-success btn-md">Create Community!</button>
                  or
                  <%= link_to "Go Back", "/" %>
                </form>
        <% else %>
                You can only create a new community if you sign in!
                <!-- MAKE THIS AUTO REDIRECT TO SIGN IN ???  -->
        <% end %>
</body>
</html>
